<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Libra</display-name>
  <filter>
  	<filter-name>FiltroUtente</filter-name>
  	<display-name>FiltroUtente</display-name>
  	<description></description>
  	<filter-class>it.unisa.libra.filter.FiltroUtente</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FiltroUtente</filter-name>
  	<url-pattern>/FiltroUtente</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>AutenticazioneServlet</servlet-name>
  	<display-name>AutenticazioneServlet</display-name>
  	<description></description>
  	<servlet-class>it.unisa.libra.controller.AutenticazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AutenticazioneServlet</servlet-name>
  	<url-pattern>/AutenticazioneServlet</url-pattern>
  </servlet-mapping>
</web-app>
